<!--The content below is only a placeholder and can be replaced.-->
<div class = "App">
<div class ="heading"><marquee direction="leftright">{{desc}}</marquee>
</div>



<div class="container">
  <div class="left">
      <a routerLink = "user">User Information</a>
  </div>
<div class="right">
    <a routerLink = "circle">Circle Information</a>
</div>
<div class="middle">
    <a routerLink = "message">Message</a>
</div>
<router-outlet></router-outlet>
</div>
</div>
  <!-- <div>
    <div class="left">
      <a routerLink = "user">User</a>
    </div>
    <div class="right">
      <a routerLink = "message">Message</a>
    </div>
    <div class="middle">
      <a routerLink = "circle">Circle</a>
    </div>
    <router-outlet></router-outlet>
  </div> -->

 
  