<div class="column">
  <div class="mess">
      <ul >
          <li *ngFor = "let message of messages">
              <b>{{message.sender}}</b> : {{message.message}}
          </li>
        </ul>
      </div>
  </div>
  

